.baseui {
  display: flex;
  justify-content: space-between;
  background-color: #242b2e;
  height: 50px;
}
ul {
  display: flex;
  flex-direction: row;
}
ul li {
  list-style-type: none;
  margin: 11px 14px 0px 0px;
}

.baseui__navbar button {
  background-color: #5a20cb;
  height: 30px;
  width: 80px;
  padding: 0px;
  font-size: 1.1rem;
  color: #cad5e2;
  transition: transform 480ms ease-in-out;
}

.baseui__navbar button:hover {
  transform: scale(1.08);
  background-color: #ff6263;
}

.cart__btn {
  text-decoration: none;
  padding: 0px 77px 3px 20px;
  border: 1px solid #cccccc;
  background-color: #5a20cb;
  font-size: 1.1rem;
  transition: transform 480ms ease-in-out;
  color: #fff;
  text-align: center;
  /* width: 200px; */
  display: flex;
  justify-content: space-between;
}
.cart__btn:hover {
  transform: scale(1.08);
  color: #fff;
  background-color: #ff6263;
}
